/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

.nav {
  display: flex;
  gap: 24px;
  justify-content: center;

  button {
    background-color: #333;
    color: white;
  }
}

.container {
  font-size: 14px;
}

.container .header {
  font-size: 18px;
}

.container .shop-list {
  list-style: none;
  margin-left: -15px;
}

.container .shop-list li.item {
  color: green;
}

.container .shop-list .item:first-child {
  /* Explain why does this color not works, and how to fix make it work on 1st list */

  /* Answer: CSS Specificity, because it is not specific enough */
  color: blue;
}

/* Write styling make every other line give background color to next one */
.container .shop-list li.item:nth-child(n+2) {
  background-color: #999;
}

